body{
    background-color: #fff;
}



.mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;

}



.mask .alert-box{
    position: absolute;
    top:50%;
    left:50%;
    width:563px;
    height:530px;
    margin-left:-282px;
    margin-top: -262px;
    background: url("../img/alert-bg.png") no-repeat;
    background-size:563px 530px ;
}


.mask .alert-box .content{
    width:429px;
    margin: 134px auto 0;
    font-family: "Microsoft YaHei";
}

.mask .alert-box .content p.desc{
    color: #ff4141;
    font-family:"Microsoft YaHei";
    font-size:16px;
    text-align: center;
    line-height: 1.5;
}

.mask .alert-box .content .choose-prize-box{
    width:100%;
    margin-top: 7px;
    overflow: hidden;
}


.mask .alert-box .content .choose-prize-box .prize{
    width:197px;
    height:58px;
    border:1px solid #dbdbdb;
    border-radius: 3px;
    position: relative;
    text-align: center;
    font-size:16px;
}



.mask .alert-box .content .choose-prize-box .choosed{
    border:2px solid #FF4141;
}

.mask .alert-box .content .choose-prize-box .prize1 .choosed-icon,.mask .alert-box .content .choose-prize-box .prize2 .choosed-icon{
    position: absolute;
    right:-1px;
    bottom:-1px;
    display:block;
}

.mask .alert-box .content .choose-prize-box .prize1{
    float: left;
}

.mask .alert-box .content .choose-prize-box .prize2{
    float: right;
}


.mask .alert-box .content .choose-prize-box .prize1 img,.mask .alert-box .content .choose-prize-box .prize2 img{
    position: absolute;
    right:0;
    bottom: 0;
    display: none;
}

.mask .alert-box .content .form-item{
    height:27px;
    margin-top: 19px;
    font-size:0;
}
.mask .alert-box .content .form-item p{
    width:70px;
    line-height: 27px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font-size:14px;
}
.mask .alert-box .content .form-item input{
    height:15px;
    padding:5px;
    border:1px solid #dbdbdb;
    border-radius: 3px;
}

.mask .alert-box .content input:focus{
    border: 1px solid #9d21f4;
    border-radius: 3px;
}

.mask .alert-box .content .input1{
    width:179px;
}
.mask .alert-box .content .input2{
    width:101px;
}

.mask .alert-box .content .input3{
    width:132px;
}
.mask .alert-box .content .input4{
    width:337px;
    float: right;
}

.mask .alert-box .content .submit-box{
    text-align: center;
}


.mask .alert-box .content .submit-box a{
    display: block;
    width:168px;
    height:46px;
    line-height:46px;
    color: #fff;
    font-size:18px;
    background-color: #9d21f4;
    border-radius: 5px;
    margin: 22px auto 0;
}