@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;
}
a{text-decoration:none;
}
ul li{list-style:none;
}
em,i{font-style:normal;
}
.main{width:100%; position:relative; z-index:1; top:-2px;
}
.eleven_banner{width:100%; height:646px; background:url(../images/eleven_banner.jpg) 50% 0 no-repeat; top:-2px;
}
.eleven_content{width:100%; background:#170046; height:807px;
}
.eleven_info{width:1147px; height:807px; margin:0 auto; background:url(../images/eleven_img6.jpg) left top no-repeat;
}
.presentbox{width:1030px; overflow:hidden; margin:0 auto; 
}
.eleven_info .ly-plate {position:relative; width:494px; height:556px; float:left; margin:232px 87px 0 62px;
}
.eleven_info .rotate-bg {width:494px; height:495px; background:url(../images/ly-plate.png); position:absolute; top:0; left:0;
}
.eleven_info .ly-plate div.lottery-star{width:214px; height:214px; position: absolute; top:150px; left:147px; outline:none
}
.eleven_info .ly-plate div.lottery-star #lotteryBtn {cursor:pointer; position:absolute;  top:-10px; left:-6px; /**left:-107px*/
}
.eleven_info .content{float:left; overflow:hidden; padding-top:244px; font-family:'Microsoft YaHei';
}
.eleven_content .content .line_t{width:448px; border-bottom:#FFF solid 1px; margin:15px 0 20px 0; position:relative;
}
.eleven_content .line_t .title{font-size:22px; color:#FFF; position:absolute; left:0; line-height:32px; display:inline-block; width:106px; background:#170046; top:-18px; 
}
.eleven_content .content .imgbox{overflow:hidden; padding:6px 0 15px 0;
}
.eleven_content .content .step{font-size:14px; color:#FFF; line-height:20px;
}
.eleven_content .content .activity_con{font-size:14px; color:#928da0; padding:6px 0 16px 0; line-height:24px;
}
.eleven_content .content .detail_btn{float:left; height:20px; width:100%; text-align:right; line-height:20px; font-size:14px; color:#FFF; font-style:italic; *float:right; padding-top:34px; text-decoration:underline;
}
.eleven_content .eleven_tips{font-size:14px; color:#564c70; line-height:20px; margin:530px 0  0 52px; padding-left:22px; background:url(../images/eleven_img2.jpg) left 2px no-repeat; font-family:'Microsoft YaHei';
}
.curve{width:100%; height:133px; background:url(../images/eleven_img7.jpg) 50% 0 no-repeat;
}
/*充值有礼*/
.cz_total{width:100%; overflow:hidden; background:#ffb901;
}
.presentbox, .presentlist{width:1014px; overflow:hidden; margin:0 auto;
}
.presentlist .con{line-height:45px; font-size:14px; color:#FFF; font-family:'Microsoft YaHei'; text-align:center;
}
.presentlist .present{color:#be1f00;padding:2px 10px;  text-decoration:underline;background: #fff;margin-left: 30px;
}
.presentlist .present:hover{color:#fff;background: #be1f00;
}
.presentbox .present_t{width:657px; height:171px; background:url(../images/eleven_img3.jpg) left top no-repeat; margin:0 auto;
}
.presentlist li{width:1014px; height:296px; margin-bottom:38px; background:url(../images/eleven_img8.jpg) left top no-repeat;
}
.presentlist .l2{background:url(../images/eleven_img9.jpg) left top no-repeat;
}
.presentlist .l3{background:url(../images/eleven_img10.jpg) left top no-repeat;
}
.presentlist .link{display:inline-block; width:538px; height:178px; margin:73px 0 0 53px;
}
.presentbox .czbox{width:1014px; height:110px; text-align:center; margin:32px auto 64px; 
}
.czbox .cz_btn{display:inline-block; width:342px; height:110px; text-align:center; line-height:110px; font-size:48px; color:#FFF; font-family:'Microsoft YaHei'; background:url(../images/cz_btn.png) left top no-repeat;
}
.czbox .cz_btn:hover{background-position:0 -110px;
}
.present_info{width:1014px; overflow:hidden; margin:0 auto; padding-bottom:55px;
}
.present_info .rule_line, .present_info .rule_line1{line-height:24px;height:24px;font-size:14px; color:#85620c; font-family:'宋体';
}
.present_info span{font-size:22px; color:#333; font-family:'Microsoft YaHei';margin-bottom: 40px;}
 .present_info div{height:.1px;width:890px;background:#a17c25;overflow:hidden;border-top: 1px solid #a17c25;margin-bottom: 6px;margin-left: 20px;display: inline-block;*display: inline;}
.present_info .colorb{color:#C59A2F;
}
.present_info .rule_line1{line-height:30px;
}
.rule_line1 .name{font-size:22px; color:#333333;
}
.rule_line .name{font-size:14px; color:#323232;font-family: "宋体";
}
.present_info .detail_con{line-height:24px; text-align:right; padding-top:10px;
}
.detail_con .detail_link{font-size:14px; color:#333333; text-decoration:underline; font-style:italic; font-family:'Microsoft YaHei';
}
.cz_total .codebox{width:1180px; height:241px; margin:0 auto; background:url(../images/eleven_img4.jpg) left top no-repeat;
}
.cz_total .codeimg{width:243px; height:241px; padding-left:472px;
}
/*转盘弹出提示信息*/
.alertbox{width:420px; overflow:hidden; font-family:'Microsoft YaHei'; border:#CCC solid 1px; 
}
.alertbox .closebox{width:100%; height:34px; font-weight:normal;
}
.alertbox .close_btn{font-size:14px; line-height:34px; color:#03c2fa; text-decoration:none; float:right; padding-right:10px;
}
.alertbox .title{font-size:16px; color:#565656; font-weight:normal; line-height:30px; margin:10px 0 16px 0;
}
.alertbox .btn, .alertbox .btn i{font-size:16px;  background:url(../images/pj_bg.png) 0 0 no-repeat; cursor:pointer; font-family:'Microsoft YaHei';
}
.alertbox .btn{background-position:right -42px; padding:0 18px 0 0; display:inline-block; margin-bottom:14px; margin-right:20px; text-decoration:none;
}
.alertbox .btn i{height:41px; line-height:41px; color:#FFF; padding:0 0 0 18px; background-position:0 0px; display:inline-block; position:static;
}
.alertbox .zc_btn{color:#18bd9c;
}
/*填写地址弹出层*/
.addressbox{width:660px; overflow:hidden; font-family:'Microsoft YaHei'; color:#333;
}
.addressbox .title{padding:30px 0 0 44px; line-height:30px; font-size:20px; font-weight:normal;
}
.addressbox .org{color:#ff9900; padding:0 6px;
}
.addresslist{padding:6px 0 0 44px; overflow:hidden;
}
.addresslist li{width:100%; overflow:hidden; float:left; line-height:26px; font-size:14px;
}
.addresslist .red{color:#F00; font-family:'宋体'; padding-right:2px;
}
.addresslist .pt{padding-top:20px;
}
.addresslist .txt{float:left; width:402px; height:24px; line-height:24px; padding-left:6px; color:#333; font-size:14px;
}
.addresslist .radio{float:left; margin:8px 6px 0 0; *margin:4px 4px 0 -4px;
}
.addresslist .radioname{float:left; padding-right:40px;
}
.addresslist .sub_btn{width:110px; height:34px; text-align:center; font-size:14px; color:#FFF; background:#ffa93f; border:none; font-family:'Microsoft YaHei';
}
.addressbox .footer_t{padding:40px 0 20px 44px; line-height:22px; font-size:14px; color:#333;
}
.addressbox .footer_t .link{color:#02b9ef; text-decoration:underline;
}
.addressbox em.error{float:left; font-size:12px; color:#F00; padding-left:6px;
}














